# Virtual environments
.venv
venv

# Cache files
*.pyc
__pycache__/
.ruff_cache/

# Pycache files
.idea

# System files
.DS_Store

# Requirements base file
/requirements.in

# Local env file
/.env

# Local data files
/data/

# Local playground files
/playground/

# Distribution files
/dist/
/*.egg-info/

# Raw docs
/docs/*.ai

# Notebook checkpoints
.ipynb_checkpoints/

# Pytest coverage
.coverage

# Figures folders
**/figures/
