# Virtual environments
.venv
venv

# Cache files
*.pyc
__pycache__/
.ruff_cache/

# Pycache files
.idea

# Requirements base file
/requirements.in

# Local env file
/.env

# Local data files
/data/
]

# Notebook checkpoints
.ipynb_checkpoints/
