[tool.poetry]
name = "fence-llm"
version = "0.0.9"
description = "Keep the bloat out! - A lightweight LLM interaction library"
authors = ["wouter.durnez <wouter.durnez@gmail.com>"]
readme = "README.md"
license = "MIT"
packages = [
    { include = "fence", from = "." },
]
include = ["pyproject.toml", "README.md", "LICENSE"]
repository = "https://github.com/WouterDurnez/fence"
homepage = "https://github.com/WouterDurnez/fence"
documentation = "https://github.com/WouterDurnez/fence"
keywords = ["openai", "llm", "gpt", "ai", "nlp", "language", "model", "api", "anthropic", "claude", "wrapper", "fence"]

[tool.poetry.dependencies]
python = "^3.12"
boto3 = "^1.34.100"
pydantic = "^2.7.1"
openai = "^1.35.14"
requests = "^2.32.3"
numexpr = "^2.10.1"

[tool.poetry.group.dev.dependencies]
bandit = "^1.7.8"
ruff = "^0.4.3"
isort = "^5.13.2"
pytest = "^8.2.0"
black = "^24.4.2"
pre-commit = "^3.7.1"
pytest-mock = "^3.14.0"
jupyterlab = "^4.2.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
pythonpath = ["."]
